.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 50%;
    padding-left: 350px;
    padding-top: 100px;
    
}

#timeEl {
    
}

.card div {
    
}

.card h1 {
    font-weight: bold;
}

.card h2 {
    font-weight:lighter;
    flex-direction: column;
}

#realStart {
    border-radius: 20px;
    width: 200px;
    height: 35px;
    background-color: aqua;
    cursor: pointer;
    
}


 #answer1,
 #answer2,
 #answer3,
 #answer4 {
    display: block;
    margin-top: 30px;
    border-radius: 20px;
    width: 300px;
    height: 35px;
    background-color: aqua;
    cursor: pointer;
    margin-left: 75px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;

}